<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd  
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd"
  default-lazy-init="true">

 <!-- 启用spring mvc 注解 -->
    <context:annotation-config/>

    <!-- 设置使用注解的类所在的jar包 -->
    <context:component-scan base-package="com.darren.personal"></context:component-scan>

  <!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
  <bean
    class="org.springframework.web.servlet.view.InternalResourceViewResolver"
    p:prefix="/WEB-INF/pages/" p:suffix=".jsp" />

   <!-- 支持上传文件 -->
   <!--
  <bean id="multipartResolver"
    class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
    
 <bean id="uploadAction" class="com.darren.upload.action.UploadAction" />   -->
</beans>  